*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.Integrantes{
    color: #013681;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.imagens-integrantes{
    width: 300px;
    height: 325px;
}

.nome-sala{
    color: #013681;
    font-size: 24px;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: #fff;
    background-color: #013681;
}


.div-a{
    background-color: #013681;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ajuste-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 104px;
}

footer{
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .Integrantes{
        font-size: 2rem;
    }

    .imagens-integrantes{
        width: 200px;
        height: 250px;
    }

    .nome-sala{
        font-size: 1rem;
        margin-top: 2rem;
    }

    .ajuste-div{
        margin-top: 3rem;
    }

}

@media (max-width: 425px) {
    .Integrantes{
        font-size: 1.5rem;
    }

    .imagens-integrantes{
        width: 150px;
        height: 200px;
        margin-top: 2rem;
        border-radius: 5px;
    }

    .nome-sala{
        font-size: 10px;
        margin-top: 1rem;
    }

    .ajuste-div{
        flex-direction: column;
    }

}